<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.personalproject.stepstrader.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stepstrader</string>
				<string>steps-trader</string>
			</array>
		</dict>
	</array>
	<key>DEEPSEEK_API_KEY</key>
	<string>sk-deb0bea2daa34ca8a9dc766db1468753</string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
</dict>
</plist>
