<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceActivityMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ShieldAction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ShieldConfiguration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Steps4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StepsTraderMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>200AC4872F1402CF0018004E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>200AC49F2F1467BE0018004E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2089F0B32E71A18E00ABF5FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2089F0C32E71A18F00ABF5FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2089F0CD2E71A18F00ABF5FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
